---
layout: default
title: Aqsis Renderer
---
                {% for post in site.posts limit 4 %}
                  <!-- First Blog Post -->
                  <h2>
                      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                  </h2>
                  <p class="lead">
                      by {{ post.author }}
                  </p>
                  <p class="post-date"><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_string }}</p>
                  <hr>
                  {% if post.header_image %}
                      <img class="img-responsive" src="{{ site.baseurl }}{{ post.header_image }}" alt="">
                      <hr>
                  {% endif %}
                  <div class="excerpt">
                      <p>{{ post.excerpt | markdownify }}</p>
                  </div>
                  <a class="btn btn-primary" href="{{ site.baseurl }}{{ post.url }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
