<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
    <link href="{{ site.baseurl }}/css/documentation.css" rel="stylesheet">
</head>

<body>
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row header-image">
            <img src="{{ site.baseurl }}/images/cropped-lines-final.png" alt="{{ site.name }} {{ site.tagline }}">
        </div>
        <div class="row">

            <div class="well col-md-12">

                <h1>{{ page.title }}</h1>

                {{ content }}

            </div>

        </div>
        <!-- /.row -->

        <hr>

        {% include footer.html %}

    </div>
    <!-- /.container -->

    {% include scripts.html %}

</body>

</html>

