<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
</head>

<body>
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row header-image">
            <img src="{{ site.baseurl }}/images/cropped-lines-final.png" alt="{{ site.name }} {{ site.tagline }}">
        </div>
        <div class="row">

            <div class="well col-md-12">

                {{ content }}

                {% for child in page.child_pages %}
                    {{ child }}
                    {{ site.collections['documentation']['docs'] | where: "title", {{ child }} }}
                {% endfor %}

                {% assign sorted_pages = site.documentation | sort: 'order' %}
                {% for subpage in sorted_pages %}
                    {% if subpage.category == page.category %}
                        {% unless subpage.section %}
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-3">
                                        {% if subpage.header_image %}
                                        <img src="{{ site.baseurl }}{{ subpage.header_image }}" alt="{{ subpage.title }}">
                                        {% else %}
                                        <img src="{{ site.baseurl }}/images/lines-final-150x150.png" alt="{{ subpage.title }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-9">
                                        <h3><a href="{{ site.baseurl }}{{ subpage.url }}">{{ subpage.title }}</a></h3>
                                        {% assign truncatedContent = '' %}
                                        {% assign paragraphs = subpage.content | markdownify | split:'</p>' %}
                                        {% for paragraph in paragraphs limit: 1 %}
                                            {{ truncatedContent | append: paragraph }}
                                            {{ truncatedContent | append: '</p>' }}
                                        {% endfor %}
                                        {{ truncatedContent }}
                                    </div>
                                </div>
                            </div>
                        {% endunless %}
                    {% endif %}
                {% endfor %}

            </div>

        </div>
        <!-- /.row -->

        <hr>

        {% include footer.html %}

    </div>
    <!-- /.container -->

    {% include scripts.html %}

</body>

</html>

