<!DOCTYPE html>
<html lang="en">

<head>
    {% include header.html %}
    <link href="{{ site.baseurl }}/css/lightbox.min.css" rel="stylesheet" />
</head>

<body>
    {% include navigation.html %}

    <!-- Page Content -->
    <div class="container">

        <div class="row header-image">
            <img src="{{ site.baseurl }}/images/cropped-lines-final.png" alt="{{ site.name }} {{ site.tagline }}">
        </div>
        <div class="row">

            <div class="well col-md-12">

                {% for gallery in site.data.galleries %}
                  {% if gallery.id == page.galleryid %}
                    <h1>{{ gallery.description }}</h1>
                      {% for image in gallery.images %}
                        <div class="well">
                          <div class="row">
                            <div class="col-md-3">
                              <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
                                <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
                              </a>
                            </div>
                            <div class="col-md-9">
                              <h3>{{ image.title }}</h3>
                              {{ image.text }}
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                      </ol>
                    </div>
                  {% endif %}
                {% endfor %}

            </div>

        </div>
        <!-- /.row -->

        <hr>

        {% include footer.html %}

    </div>
    <!-- /.container -->

    {% include scripts.html %}
    <script src="{{ site.baseurl }}/js/lightbox.min.js"></script>

</body>

</html>

