######################################################################
# Render jobs
######################################################################

RenderJob("", "Bug1102598.rib",
          description="""
<p> RiBasis() crashes when unknown basis names are passed  Private: (?) 
No  
Aqsis (0.9.4, XP) crashes when the RIB contains a Basis 
call with unknown basis names. For example, the following 
RIB (just one line) makes Aqsis crash:

Basis "spam" 1 "eggs" 1
 
 

""")
